<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="MINIO_VERSION" value="latest"/>
        <env name="MINIO_REGION" value="me-south-1"/>
        <env name="MINIO_ENDPOINT" value="127.0.0.1:9000"/>
        <env name="MINIO_BUCKET" value="test"/>
        <env name="MINIO_KEY" value="minioadmin"/>
        <env name="MINIO_SECRET" value="minioadmin"/>
    </php>
</phpunit>
